@media (min-width: 48em) {
  .logo {
    position: absolute;
    right:  1rem;
    bottom: 3rem;
    left:   1rem;
  }

  .logo > img {
    height: 50px;
    margin: 1rem 0 1rem 0;
  }
}

table tr td:first-child {
  white-space:nowrap;
}
